<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
      PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置 -->
	<settings>
		<!-- 指定使用LOG4J输出日志 -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 下划线转驼峰 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 延迟加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<!-- 二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
	<!-- 插件 -->

	<!-- 类型命名 -->
	<typeAliases>
		<package name="com.zyd.simple.model" />
	</typeAliases>
	<!-- 类型处理器 -->
	<typeHandlers>
		<!--枚举类型处理器 -->
		<typeHandler handler="com.zyd.simple.type.EnabledTypeHandler"
			javaType="com.zyd.simple.type.Enabled" />
	</typeHandlers>
	<plugins>
		<!-- 拦截器 -->
		<plugin interceptor="com.zyd.simple.plugin.CameHumpInterceptor" />
	</plugins>
	<!-- 环境配置数据库连接 -->
	<environments default="development">
		<!-- 环境变量 -->
		<environment id="development">
			<!-- 事务管理器 -->
			<transactionManager type="JDBC">
				<property name="" value="" />
			</transactionManager>
			<!-- 数据源 -->
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/mybatis?useSSL=true" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<!-- 数据库厂商标识 -->
	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver" />
		<property name="DB2" value="db2" />
		<property name="Oracle" value="oracle" />
		<property name="MySQL" value="mysql" />
		<property name="PostgreSQl" value="postgresql" />
		<property name="Derby" value="derby" />
		<property name="HSQL" value="hsqldb" />
		<property name="H2" value="h2" />
	</databaseIdProvider>

	<!-- 映射器 SQL语句和配置文件 -->
	<mappers>
		<package name="com.zyd.simple.mapper" />
	</mappers>

</configuration>