<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML的命名空间 -->
<mapper namespace="com.zyd.simple.mapper.RoleMapper">
	<!-- 二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<!-- eviction="FIFO" flushInterval="60000" size="512" readOnly="false" -->
	<resultMap type="com.zyd.simple.model.SysRole" id="roleMap">
		<id property="id" column="id" />
		<result property="roleName" column="role_name" />
		<result property="enabled" column="enabled" />
		<association property="createInfo" javaType="com.zyd.simple.model.CreateInfo">
			<result property="createBy" column="create_by" />
			<result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
		</association>
	</resultMap>
	<select id="selectRoleById" resultMap="roleMap">
		select * from sys_role
		where id=#{id}
	</select>
	<resultMap type="com.zyd.simple.model.SysRole" id="rolePrivilegeListMap"
		extends="roleMap">
		<collection property="privilegeList" columnPrefix="privilege_"
			resultMap="com.zyd.simple.mapper.PrivilegeMapper.privilegeMap" />
	</resultMap>
	<select id="selectAllRoleAnPrivileges" resultMap="rolePrivilegeListMap">
		select
		r.id,
		r.role_name,
		r.enabled,
		r.create_by,
		r.create_time,
		p.id privilege_id,
		p.privilege_name privilege_privilege_name,
		p.privilege_url
		privilege_privilege_url
		from sys_role r
		inner join sys_role_privilege rp
		on rp.role_id = r.id
		inner join sys_privilege p on p.id =
		rp.privilege_id
	</select>
	<resultMap type="com.zyd.simple.model.SysRole" id="rolePrivilegeListMapSelect"
		extends="roleMap">
		<collection property="privilegeList" fetchType="lazy"
			column="{roleId=id}"
			select="com.zyd.simple.mapper.PrivilegeMapper.selectPrivilegeByRoleId" />
	</resultMap>
	<select id="selectRoleByUserId" resultMap="rolePrivilegeListMapSelect">
		select
		r.*
		from sys_role
		r
		inner join sys_user_role ur on ur.role_id =
		r.id
		where ur.user_id =
		#{userId}
	</select>
	<resultMap type="com.zyd.simple.model.SysRole" id="rolePrivilegeListMapChoose">
		<discriminator javaType="int" column="enabled">
			<case value="1" resultMap="rolePrivilegeListMapSelect" />
			<case value="0" resultMap="roleMap" />
		</discriminator>
	</resultMap>
	<select id="selectRoleByUserIdChoose" resultMap="rolePrivilegeListMapChoose">
		select
		r.id,
		r.role_name,
		r.enabled,
		r.create_by,
		r.create_time
		from sys_role r
		inner
		join sys_user_role ur on ur.role_id = r.id
		where ur.user_id = #{userId}
	</select>
</mapper>

